.example-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    margin-top: 10px;
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0px;
}

.mat-card>.mat-card-actions:last-child {
    padding-left: 15px;
    padding-bottom: 5px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 0;
    padding-left: 10px;
}

.clickable {
    cursor: pointer;
}

.mat-card-avatar {
    height: 40px;
    width: 0px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.displayPopup {
    border: 1px solid grey;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 25%;
    padding: 15px;
}

.spacer {
    flex: 1;
}